body{
    background-color:hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    
}

* {
    box-sizing: border-box;
}

.container-fluid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
    padding:0 27%;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
}

.row{

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    



}

.box-lg,.box-md{
    position: relative;
    width: 100%;
    padding: 3% 6%; 
    
    
}

.box-lg{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; 
}

.box-md{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    color: white;
}


.box-heading{
    background-color: white;    
    border-radius: 5px 5px 0 0 ;
}

.box-signup{
    background-color: hsl(179, 62%, 43%); 
    border-radius: 0 0 0 5px;

    
    
}

.box-whyus{
    background-color: hsl(179, 55%, 50%); 
    border-radius: 0 0 5px;

}


ul{
    padding-left: 0;
    list-style: none;
    line-height: 1.5;
    font-size: 0.9rem;
    color: rgb(230, 228, 228)
}

.box-heading p{
    color: hsl(218, 22%, 67%);
    margin: 0 0 0.5rem;
    line-height: 1.5;
}

.box-heading h1 {
    color:  hsl(179, 62%, 43%);
    font-size: 1.5rem;
    line-height: 2;

}

.box-heading h3 {
    color:  hsl(71, 73%, 54%);
    /* font-size: 1.5rem;
    line-height: 1.5; */

}

.box-signup .dollar-sign {
    font-weight: 700;
    font-size: 2rem;
    display: table;
    margin-bottom: 0;
}

.box-signup .dollar-sign span{
    padding: 0 10PX;
    font-size: 1rem;
    display: table-cell;
    vertical-align: middle;
    color: rgb(230, 228, 228);
    font-weight: 200;
}

.box-signup p{
    color: rgb(241, 234, 234);
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.btn{
    
    color: white;
    background-color: hsl(71, 73%, 54%);
    border: 1px solid transparent;
    width: 100%;
    /* padding: 4% 35%; */
    font-size: 1rem;
    line-height: 3;
    border-radius: 0.25rem;
    outline: 0;
    box-shadow:  0 4px 15px -6px gray;
    margin-bottom: 25px;
    white-space: normal;
    font-weight: 700;
    
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;            /* Footer height */
}

@media screen and (max-width: 540px){
    .container-fluid{
        padding: 0 10%;
        margin: 0 auto;
    }
    .box-lg,.box-md{
        position: relative;
        width: 100%;
        padding: 0 30px; 
        
        
    }
    .box-md{
        flex: 0 0 100%;
        max-width: 100%; 
    }

    .box-signup {
        border-radius: 0;
    }

    .box-whyus{
        border-radius: 0 0 5px 5px;
    }

}